.table {
    font-family: "Roboto";
    font-weight: 400;
}

td.title {
    font-weight: 700;
}

.icon {
    height: 3px;
    color: #314E52;
}

/* Background */
body {
    background-color: #F7F6E7;
}

.ui {
    background-color: #F2A154;
    border: 0;
    padding: 3%;
    border-radius: 7px;
}

/* Table with movies */
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
  border:0;
}

.tableContainer {
    margin-top: 10px;
    background-color: #E7E6E1;
    border-radius: 7px;
}




/* Navigation Bar */
.header {
    background-color: #314E52;
    height: 150px;
    font-family: "Merriweather";
    font-weight: 900;
}

/* UI */
.search-form-control {
    background-color: #F2A154;
    width: 30%;
    border-color: #F7F6E7;
}

.form-control:focus {
    border-color: #F7F6E7;
    outline: 0;
    box-shadow: none;
}

@media (max-width: 567px) {

    .director, .year {
        display: none;
    }

}